.input{
    height: 100%;
    width: 100%;
    border-radius: .5vw;
    border: 1px solid var(--input-border);
    outline: none;
    padding: .5vw 1vw;
    font-size: 0.7vw;
    resize: none;
}
.input::placeholder{
    font-size: 0.7vw;
    font-weight: 500;
    opacity: .6;
}