.input{
    height: 100%;
    width: 100%;
    border-radius: .5vw;
    border: 1px solid var(--input-border);
    outline: none;
    padding: 0 .5vw;
    font-size: 0.7vw;
}
.input::placeholder{
    font-size: 0.7vw;
    font-weight: 500;
    opacity: .6;
}
/* Убрать стрелочки у input */
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Для Firefox */
.input {
    -moz-appearance: textfield;
}
.bacgroundFill{
    background-color: rgb(235, 243, 248);
}