.container{
    display: flex;
    flex-direction: column;
    padding: 1vw;
    height: 100%;
    box-sizing: border-box;
}
.btn{
    margin-top: auto;
    width: 100%;
    height: 1.7vw;
    min-height: 1.7vw;
    position: relative;
}

.header{
    font-size: 0.9vw;
}
.scrollBox{
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none; /* Скрыть скроллбар */
}