html, body{
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  user-select: none;

  --blue:#3a66f8;
  --blue-hover:#2441d4;
  --grey:#DDE1EE;
  --grey-hover:#ced2e0;
  --modal-bacground:#00000027;
  --input-bacground: #858dad36;
  --input-bacground-hover: #C8CCD7;
  --input-bacground-hover-hover: #b5bbcc;
  --white-btn-hover: rgba(197, 207, 212, 0.301);
  --input-border: rgba(146, 146, 146, 0.301);
  --white-modal_item-hover: rgba(230, 230, 230, 0.301);
  --gradient1:#4D8AEE;
  --gradient2:#1144cfb2;
  --gradient1-hover:#457fdd;
  --gradient2-hover:#1f51d8b2;

}
*{
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 10px;
  background-color: #f4f2f2;
}

*::-webkit-scrollbar-thumb {
border-radius: 10px;
background-color: rgba(124, 154, 176, 0.5);

}

*::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
border-radius: 10px;
background-color: #ffffff;
}