.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 2vw;
}
.navBar, .navBarSeria{
    display: flex;
    justify-content: flex-end;
}
.navBarSeria{
    height: 1.2vw;
}
.chiftPlaceholder{
    font-size: 0.6vw;
    opacity: .6;
}