.container{
    display: flex;
    width: 100%;
    height: auto;
    /* min-height: 15vw; */
    margin-top: 1vw;
    flex-direction: column;
    margin-bottom: 1vw;
}
.header{
    display: flex;
    justify-content: space-between;
    height: 1.2vw;
    width: 100%;
    align-items: center;
    margin-bottom: 1vw;
}
.addBtn{
    height: 1.5vw;
    width: 1.5vw;
    background-color: var(--input-bacground);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10vw;
    cursor: pointer;
    transition: all .3s;
    opacity: .7;
    position: relative;
}
.dropZone{
    position: absolute;
    width: 5vw;
    height: 5vw;
    user-select: none;
}
.drop{
    height: 2.5vw;
    width: 2.5vw;
}
.addBtn:hover{
    background-color: var(--input-bacground-hover);
    opacity: 1;
}
.plus{
    height:60%;
    width: auto;
}

.title{
    font-size: 1.2vw;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin: 0;
    gap: 1vw;
}
