.container{
    display: flex;
    width: 100%;
    gap: .4vw;
    overflow: hidden;
}
.item{
    color: black;
    background-color: rgba(212, 212, 212, 0.493);
    padding: .3vw .7vw;
    border-radius: 10vw;
    font-size: .8vw;
}