.container{
    width: 100%;
    display: flex;
    gap: .2vw;
    margin-top: 1vw;
}
.flex1{
    display: flex;
    flex: 1;
    font-size: 0.6vw;
}
.flex2{
    display: flex;
    flex: 2;
    font-size: 0.6vw;
}