.container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.168);
    z-index: 99;
    display: flex;
    justify-content: flex-end;
}
.exit{
    font-size: .7vw;
    font-weight: 600;
    color: #4D8AEE;
    cursor: pointer;
    user-select: none;
    transition: all .3s;
}
.exit:hover{
    color: #4580de;
}
.modalWind{
    height: 100vh;
    width: 20vw;
    background-color: white;
    border-radius: 1vw 0 0 1vw;
    display: flex;
    flex-direction: column;
    padding: 2vw 1.3vw 6vw 1.3vw;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: auto;
    position: relative;


}
.modalWind::-webkit-scrollbar {
    width: 10px;
    background-color: #f4f2f2;
  }
  
.modalWind::-webkit-scrollbar-thumb {
border-radius: 10px;
background-color: rgba(124, 154, 176, 0.5);

}

.modalWind::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
border-radius: 10px;
background-color: #ffffff;
}

.btn{
    background-color: rgb(240, 240, 240);
    border-radius: 10vw;
    width: 2vw;
    height: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s;
}
.img{
    height: .8vw;
    width:  auto;
}
.add:hover, .btn:hover{
    background-color: rgb(209, 209, 209);

}

.input{
    width: 90%;
    height: 11.8vw;
    padding:0 .7vw;
    border-radius: .7vw;
    border: 1px solid rgb(228, 228, 228);
    outline: none;
    font-size: .65vw;
    background-color: white;
    margin-top: .8vw;
    opacity: .9;
    resize: none;
}
.input::-webkit-scrollbar {
    width: 10px;
    background-color: #f4f2f2;
  }
  
.input::-webkit-scrollbar-thumb {
border-radius: 10px;
background-color: rgba(124, 154, 176, 0.5);

}

.input::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
border-radius: 10px;
background-color: #ffffff;
}
.name{
    display: flex;
    align-items: center;
    height: 2.3vw;
    margin: .2vw 0 0 0 ;
    font-size: .7vw;
    opacity: 1;
}
.name::placeholder{
    font-weight: 100;
    opacity: .7;
    font-size: .6vw;
    font-weight: 400;
    font-weight: normal;
}
.descr{
    height: 7vw;
    margin-bottom: 0;
    padding-top: .9vw;

}
.descr::placeholder{
    font-weight: 100;
    opacity: .7;
    font-size: .7vw;
    font-weight: 100;
    font-weight: normal;
}
.btnSave{
    width: 16.7vw;
    background-color: var(--blue);
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 2vw;
    right: 1.9vw;
    font-size: .8vw ;
    border-radius: 10vw;
    padding: .5vw 0;
    font-weight: 500;
    cursor: pointer;
    transition: all .3s;
}
.btnSave:hover{
    transform: scale(101%);
    background-color: var(--blue-hover);
}
.cardContainer{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
.exerciseCard{
    width: 100%;
    height: auto;
    background-color: #EBEEF7;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    border-radius: .5vw;
}
.exerciseName{
    font-size: .7vw;
    font-weight: 600;
    margin: 0;
}
.exerciseName span{
    opacity: .3;
}
.cardPreHeader{
    font-size: .6vw;
    font-weight: 600;
    opacity: .6;
    margin-top: 0.3vw;
}
.buttonContainer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1vw;
    gap: 1vw;
}
.buttonContainer1{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* margin-top: 1vw; */
    gap: 1vw;
}
.updateBtn, .addBtn{
    font-size: .6vw;
    font-weight: 600;
    opacity: .8;
    color: black;
    cursor: pointer;
}
.addBtn{
    color: var(--blue);
}
.modalUpdateExercise{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 20vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow-y: auto;
    padding: 0 0 6vw 0;
}


.modalHeader{
    font-size: 0.9vw;
    font-weight: 600;
}
.ipdateInput{
    width: 100%;
}
.updateBtn1{
    margin-left: 11vw;
    margin-top: 1vw;
}
.exerciseCardAdded{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.addOk{
    font-size: .6vw;
    font-weight: 600;
    opacity: .8;
    color: var(--blue);
    cursor: pointer;
}
.addOk1{
    font-size: .6vw;
    font-weight: 600;
    opacity: .8;
    color: var(--blue);
    cursor: pointer;
}
.modalHeaderNavCotainer{
    display: flex;
    gap: .3vw;
    width: 100%;
    margin-bottom: .1vw;
}
.modalHeaderNavCotainer span{
    font-size: 0.6vw;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.flex1{
    display: flex;
    flex: 1;
}
.flex2{
    display: flex;
    flex: 2;
}
.rowContainer{
    display: flex;
    gap: .2vw;
    width: 100%;
    margin-top: .5vw;
}
.setNum{
    border: none;
    outline: none;
    background-color: #F3F3F3;
    border-radius: .5vw;
    height: 2vw;
    width: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    font-size: 0.7vw;
    font-weight: 600;
}
.diapazonContainer{
    display: flex;
    flex: 2;
    align-items: center;
}
.inputMiniInput{
    border: none;
    outline: none;
    background-color: #F3F3F3;
    border-radius: .5vw;
    height: 2vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.inputMiniInput::-webkit-inner-spin-button, 
.inputMiniInput::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    display: none;
}
.label{
    font-size: 0.6vw;
    opacity: .6;
    margin-top: 3vw;
}
.row{
    display: flex;
    align-items: flex-start;
    gap: .5vw;
    
}
.row1{
    display: flex;
    align-items: flex-start;
    gap: .5vw;
    justify-content: space-between;
    width: 100%;
    
}
.imgBox{
    width: 2vw;
    height: 2vw;
    border-radius: .5vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img1{
    height: 100%;
    width: auto;
}
.headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}
.header{
    font-size: 1vw;
    font-weight: 500;
}
.header1{
    font-size: .8vw;
    font-weight: 500;
    cursor: pointer;
    opacity: .6;
    transition: all .3s;
}
.header1Active{
    opacity: 1;
    font-weight: 600;
}
.navBarContainer{
    display: flex;
    gap: .5vw   ;
}
.textContainer{
    display: flex;
    flex-direction: column;
}
.modalUpdateWind{
    width: 100%;
    height: auto;
    background-color: white;
    padding:2vw 1vw;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    width: 20vw;
    height: 100%;
}
.btnContainer{
    display: flex;
    gap: .3vw;
    height: 2vw;
    margin-top: 2vw;
}
.AddSetsBtn{
    display: flex;
    background-color: white;
    border:1px solid #4D8AEE;
    border-radius: 1vw;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: .3vw;
    padding: .3vw 0;
    cursor: pointer;
    font-size: .7vw;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.804);
    transition: all .3s;
}
.AddSetsBtn:hover{
    background-color: rgb(246, 246, 246);
}
.headerBtnContainer{
    display: flex;
    align-items: center;
    gap: .3vw;
}
.btn{
    width: 1.7vw;
    height: 1.7vw;
}
.img{
    height: .8vw;
    width:  auto;
}