.container{
    width: 100%;
    height:100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
    scrollbar-width: none; /* Скрыть скроллбар */
}
.notFound{
    width: 90%;
    height: auto;
    box-sizing: border-box;
    padding: 3vw;
    font-size: 0.7vw;
    background-color: var(--input-bacground);
    border-radius: .5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.411);
    opacity: .7;
}
.chatsList{
    width: 100%;
}
.dialogCard{
    width: 100%;
    padding: 1vw .6vw;
    box-sizing: border-box;
    background-color: var(--input-bacground);
    border-radius: .5vw;
    cursor: pointer;
    transition: all .3s;
    margin-top: 0.5vw;
    display: flex;
    gap: .4vw;
    align-items: flex-start;
}
.img{
    height: 2vw;
    width: 2vw;
    box-sizing: border-box;
}
.textContainer{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.activeDialog{
    background-color: var(--input-bacground-hover);
}
.dialogCard:hover{
    background-color: var(--input-bacground-hover);
}
.activeDialog:hover{
    background-color: var(--input-bacground-hover-hover);
}
.lastMessage{
    font-size: 0.6vw;
}