.container{
    display: flex;
    flex-direction: column;
    margin-bottom: 1vw;
}
.eng{
    opacity: .4;
}
.header{
    font-size: 0.8vw;
}
.labelBox{
    display: flex;
    flex-wrap: wrap;
    gap: .3vw;
}
.label{
    height: 1.2vw;
    width: 6vw;
}