.container{
    display: flex;
    padding: 2vw;
}
.sidebar{
    width: 25%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.header{
    margin: 0;
    font-size: .8vw;
    font-weight: 600;
    margin-bottom: 1.5vw;
}
.chatWind{
    width: 75%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 1vw;
}